// Variables
$topic-height: 70;

// Layout
.custom-homepage-columns {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  &.wrap {
    padding: 0;
  }
  .col {
    flex: 1 0 33%;
    margin-bottom: 1.5em;
    &:nth-child(odd) {
      margin-right: 1.5em;
    }
    &:nth-child(even) {
      margin-left: 1.5em;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 750px) {
    .col,
    .col:nth-child(odd),
    .col:nth-child(even) {
      margin: 0 0 2em 0;
    }
    .col:last-child {
      margin: 0;
    }
  }
}

// Components
.custom-homepage-columns {
  .header-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding: 0.5rem 0;
    gap: 1rem;
    h2 {
      margin: 0 0 0 0.75rem;
    }
    .feed-link {
      margin-left: auto;
    }
  }
  .loading-container {
    min-height: calc(#{$topic-height}px * 1);
    .topic-list {
      margin: 0;
      .topic-list-body {
        border: none;
        .topic-list-item {
          height: #{$topic-height}px;
          &:nth-child(odd) {
            background: var(--primary-very-low);
          }
          .main-link {
            width: 80%;
          }
        }

      }
    }
  }
}
