// Box Layout
.custom-homepage-columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
  row-gap: 3rem;
  column-gap: 3rem;
  .col {
    flex: 1 1 45%;
  }
}

// List Layout
.custom-homepage-columns {
  .header-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding: 0.5rem 0;
    gap: 1rem;
    h2 {
      margin: 0 0 0 0.75rem;
    }
    .feed-link {
      margin-left: auto;
    }
  }
  .loading-container {
    .topic-list {
      margin: 0;
      .topic-list-body {
        border: none;
        .topic-list-item {
          min-height: 70px;
          &:nth-child(odd) {
            background: var(--primary-very-low);
          }
          .main-link {
            .link-bottom-line {
              .badge-wrapper {
                // FIX: there's a nowrap declaration in core and it keeps boxes from adjusting size based on flex settings
                white-space: normal;
              }
            }
          }
        }
      }
    }
  }
}
